Build a Coffee Machine Simulation Software.

System requirements:
1) Print report.
2) Check resources sufficient?
3) Process coins
4) Check Transaction successful?
5) Make Coffee.

Check whiteboard: Coffee Machine Py

